@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Open+Sans:wght@300&display=swap');

:root {
    --primary-color: #5DC9EA   ;
    --secondary-color: #D9ED92 ;
    --accent1-color: #B5E48C;
    --accent2-color: #1F8EC1;

    --heading-font: "Merriweather";
    --paragraph-font: "Open Sans", Helvetica, sans-serif;

    --headline-color-on-white: #1F8EC1;  /* headlines on a white background */ 
    --headline-color-on-color: white; /* headlines on a colored background */ 
    --paragraph-color-on-white: #1F8EC1; /* paragraph text on a white background */ 
    --paragraph-color-on-color: white; /* paragraph text on a colored background */ 
    --paragraph-background-color: #1F8EC1  ;
    --nav-link-color: #1F8EC1;
    --nav-background-color: #D9ED92;
    --nav-hover-link-color: white;
    --nav-hover-background-color: #1F8EC1;
}

header {
    background-color: #B5E48C;
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    justify-items: center;
}

header a {
    text-decoration: none;
    color: #1F8EC1;
    font-family: var(--paragraph-font);
    font-size: large;
    font-weight: 700;
}

header nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    border: 1px solid black;
    background-color: #D9ED92;
    padding-right: 10px;
}

header img {
    width: 100px;
}

figure img {
    max-height: 200px;
}

h1, h2, h3, h4 {
    font-family: var(--heading-font);
    color: var(--headline-color-on-white);
}

p {
    font-family: var(--paragraph-font);
    color: var(--paragraph-color-on-white);
    padding: 1em;
}

footer {
    display: flex;
    justify-content: center ;
    font-size: larger;
}

footer a {
    text-decoration: none;
}

main h1, p {
    text-align: center;
}

.information {
    display: grid;
    border-top: solid #B5E48C;
}

.information ul {
    grid-column: 1/2;
    align-content: center;
    font-size: 1.1rem;
}

.maps {
    grid-column: 2/3;
}

.staff {
    display: flex;
    background-color: #D9ED92;
    justify-content: space-around;
    margin-bottom: 100px;
    margin-top: 100px;
}

form {
    width: 650px;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid rgba(0, 0, 0, .1);
    border-radius: 0.5rem;
    background-color: #eee;
    display: grid;
}

fieldset {
    display: grid;
    grid-gap: .5rem;
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, .2);
    padding: 1rem;
}

legend {
    padding: 0.5rem;
    color: #1F8EC1;
    font-size: 1.3em;
}

label {
    text-align: right;
    padding-right: 1rem;
}

input, select, textarea {
    padding: 0.5rem;
    font-size: 1rem;
}

input[type="checkbox"] {
    width: 22px;
    height: 22px;
    vertical-align: bottom;
}

button {
    margin: 1rem;
    background-color: #1F8EC1;
    color: #fff;
    border: none;
    border-radius: .5rem;
    padding: .75rem;
    font-size: 1rem;
}

button:hover {
    background-color: #B5E48C;
    color: #000;
}

.form-item {
    display: grid;
    justify-items: left;
}

.column1 {
    grid-template-columns: 1fr 1fr;
    padding-left: 25px;
}

.column2 {
    grid-template-columns: 1fr 6fr;
}

.radio {
    display: grid;
    justify-items: right;
}

.radio label {
    justify-self: left;
}