@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Open+Sans:wght@300&display=swap');

:root {
    --primary-color: #5DC9EA   ;
    --secondary-color: #D9ED92 ;
    --accent1-color: #B5E48C;
    --accent2-color: #1F8EC1;

    --heading-font: "Merriweather";
    --paragraph-font: "Open Sans", Helvetica, sans-serif;

    --headline-color-on-white: #1F8EC1;  /* headlines on a white background */ 
    --headline-color-on-color: white; /* headlines on a colored background */ 
    --paragraph-color-on-white: #1F8EC1; /* paragraph text on a white background */ 
    --paragraph-color-on-color: white; /* paragraph text on a colored background */ 
    --paragraph-background-color: #1F8EC1  ;
    --nav-link-color: #1F8EC1;
    --nav-background-color: #D9ED92;
    --nav-hover-link-color: white;
    --nav-hover-background-color: #1F8EC1;
}

header {
    background-color: #B5E48C;
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    justify-items: center;
}

header a {
    text-decoration: none;
    color: #1F8EC1;
    font-family: var(--paragraph-font);
    font-size: large;
    font-weight: 700;
}

header nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    border: 1px solid black;
    background-color: #D9ED92;
    padding-right: 10px;
}

header img {
    width: 100px;
}

.history {
    display: grid;
    border: solid #D9ED92;
    font-weight: 600;
}

.history h2 {
    grid-column: 2/3;
}

.history p {
    grid-column: 1/4;
}

figure img {
    max-width: 300px;
}

.adventure {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(auto, 400px));
    border: solid #5DC9EA;
}

.adventure h2 {
    grid-row-start: 1;
    grid-column-start: 3;
}

.adventure figure {
    grid-row-start: 2;
}

h1, h2, h3, h4 {
    font-family: var(--heading-font);
    color: var(--headline-color-on-white);
}

p {
    font-family: var(--paragraph-font);
    color: var(--paragraph-color-on-white);
    padding: 1em;
}

article h1 {
    position: absolute;
    top: -100px;
    left: 380px;
    background-color: #1f8ec166;
    color: white;
}

article {
    position: absolute;
    top: 300px;
    left: 50px;
    background-color: #5dc9ea83;
    max-width: 900px;
}

article p {
    color: white;
}

.hero img {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
}

article img {
    float: right;
    height: 150px;
    width: auto;
}

footer {
    display: flex;
    justify-content: center ;
    font-size: larger;
}

footer a {
    text-decoration: none;
}